@using Domain.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        @*<ul class="nav navbar-nav navbar-right">*@
        @*            <li class="nav-item">
            <a class="nav-link borderCancell main-nav-item" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>*@
        @*<li class="nav-item">*@
        <button type="submit" class="navbar-button" style="padding-left: 0; margin-left: 0; background: transparent; border: none; font-size: 1em; margin-top: 10px; font-family: 'Dosis', sans-serif !important; ">Log out</button>
        @*            </li>
            </ul>*@
    </form>
}
else
{
    @*    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item main-nav-item"><a class="borderCancell loginStyle" asp-page="/Account/Login">Login</a></li>
        </ul>*@
    <span class="navbar-text">
        <a class="borderCancell loginStyle" asp-page="/Account/Login">Login</a>
    </span>
}
