@page
@using Web.Pages
@using Domain.Entities
@model Web.Pages.ArticleModel
@{ ViewData["Title"] = "Home page"; }


<div id="container" class="container">


    @{ Article unArticle = ViewData["unArticle"] as Article;
       string articleC = unArticle.InerText;
       var imageRef = ViewData["uneImage"];

            <h2>@unArticle.Titre</h2>
        <div>
            <script>
            var article = '@articleC';
            tst = document.getElementById('container')


            function htmlDecode(input) {
                var e = document.createElement('div');
                e.innerHTML = input;
                return e.childNodes[0].nodeValue;
            }

            var tst2 = htmlDecode(article)
            tst.innerHTML += tst2;
            </script>
        </div>
      }

</div>
