@page
@using Web.Pages
@using Microsoft.AspNetCore.Components.Forms
@using IdentityServer4.Extensions
@model Web.Pages.CreationTutoModel
@{
    ViewData["Title"] = "Création tutoriel";
}

<div class="container-fluid">
    <h1>Création Tutoriel</h1>
    <hr />

    <div class="row">
        <div class="col-6">
            <img src="~/images/imgplaceholder.jpg" width="100%" height="100%" id="imgBanierre" />

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputImgBanierre">
                <label class="input-group-text" for="inputImgBanierre">Upload</label>
            </div>
        </div>

        <form class="col-6">

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputTitre">Titre</span>
                <input type="text" class="form-control" aria-label="Titre" aria-describedby="Titre">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputDuree">Durée</span>
                <input type="text" class="form-control" aria-label="Durée" aria-describedby="Durée">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputCoutt">Cout</span>
                <input type="text" class="form-control" aria-label="Cout" aria-describedby="Cout">
                <span class="input-group-text">$</span>
            </div>

            <div class="input-group mb-3">
                <label for="DifficulteRange" class="form-label">Difficulté</label>
                <input type="range" class="form-range" min="1" max="10" id="DifficulteRange">
            </div>

            <div class="input-group mb-3">
                <h3>Sélectionner une ou plusieurs catégorie(s)</h3>
                <p>
                    garder la touche CTRL du clavier enfoncé et sélectioner plusieur catégories
                    avec le click gauche afin den avoir plusieurs.....
                </p>
                <select id="categories" class="form-select" multiple aria-label="multiple select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

        </form>
    </div>

    <div class="row">
        <div class="col-12">

            <hr />
            <h2>Introduction</h2>

            <div class="input-group">
                <textarea class="form-control" aria-label="Introduction du tuto" rows="10"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <br />
            <h2>Contenue</h2>

            <!-- Rangee de donnée----------------------------->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/images/imgplaceholder.jpg" width="100%" height="100%" id="imgPreviews1" />
                        </div>
                        <div class="col-8">
                            <textarea class="form-control" aria-label="Introduction du tuto" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="file" class="form-control" id="imgPreviews1">
                        </div>
                        <div class="col-8">
                            <button type="button" class="btn btn-danger">Delette</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- --------------------------------------------->
            <br />
            <button type="button" class="btn btn-primary" id="btnAddRangee">Ajouté une rangée</button>
            <button type="button" class="btn btn-primary" id="btnCreeTutoriel">Créé le tutoriel</button>
        </div>

    </div>

</div>