@page
@model Web.Pages.CreationArticle
@using Domain.Entities


<div>

    <form method="post" enctype="multipart/form-data">
        <label for="titre">Titre de l'article :</label><br />

        <input type="text" id="titre" name="titre" value=""><br><br />

        <textarea name="inerText"></textarea><br/><br/>

        <input multiple="multiple" asp-for="Input.FormFile" class="form-control" type="file" id="formFile"><br =/>

        <input class="btn" type="submit" value="Upload"/><br /><br />
    </form>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.0.20/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({ selector: 'textarea' });
    </script>
</div>
