@page
@using Web.Pages
@using Domain.Entities
@model Web.Pages.IndexModel
@{ ViewData["Title"] = "Home page"; }


<div class="main-container">
    <div class="first-alf-container">
        <img src="../images/BanniereNature3.jpeg" alt="banniere du site" title="banniere du site" class="divBanner"/>
        <div class="pageBox">
            <p class="divIntro">
                Notre projet :
                Quisque interdum dapibus ipsum, vel lacinia nulla eleifend non. Sed tortor tortor, placerat ut tincidunt et, euismod non sem.
                Phasellus vel est iaculis, dictum lorem nec, hendrerit eros. Donec ultrices ex eget nisi eleifend, sed eleifend ex commodo. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed eros sed mi mollis ullamcorper non et sapien.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce hendrerit, augue sit amet fringilla ullamcorper, lorem leo auctor enim,
                non pharetra tortor mi id nunc. Duis vel volutpat velit, sit amet luctus ante. In sit amet lorem quis ligula consectetur gravida. Integer in nulla tortor.
            </p>

        </div>
    </div>

    <div class="second-alf-container">

        <div class="major-theme">
            <div class="theme-box" style="">
                <img src="../images/BanniereNature3.jpeg" alt="theme" title="theme" class="theme-img" style="width: 200px; height: 200px;" />
            </div>
            <div class="theme-box" style="">
                <img src="../images/BanniereNature3.jpeg" alt="theme" title="theme" class="theme-img" style="width: 200px; height: 200px;" />
            </div>
            <div class="theme-box" style="">
                <img src="../images/BanniereNature3.jpeg" alt="theme" title="theme" class="theme-img" style="width: 200px; height: 200px;" />
            </div>
        </div>


        <div class="containerArticleIndex">
            @{ int i = 0;
                foreach (var article in ViewData["lstArticles"] as IList<Article>)
                {
                    if (i == 0)
                    {
                        <div class="div-article1" style=" display:flex">
                            <a href="/Article?id=@article.Id">
                                <img src="/images/fondBois.jpg" alt="" style="height: 300px;">
                                <p>@article.Titre</p>
                            </a>
                        </div> 
                       }

                    else if(i < 3)
                    {
                        <div class="div-article" style="  display: flex" >
                            <a href="/Article?id=@article.Id">
                                <img src="/images/fondBois.jpg" alt="" style="height: 150px;">
                                <p>@article.Titre</p>
                            </a>
                        </div>
                    }
                    i++;
                } }


        </div>

    </div>


</div>
