@page
@using Web.Pages
@using Domain.Entities
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <img src="../images/Banniere_foret.jpg" class="divBanner" style="width:100%" />
</div>


<div class="container">
    <div class="first-alf-container">
        <div class="pageBox">
            <h3>Notre projet:</h3>
            <p class="divIntro">
                Favoriser l’émergence d’un changement sociétal par l’expérimentation et la mise en place d’initiatives citoyennes.
                La résilience écologique est la capacité d’un système vivant à retrouver les structures et les fonctions de son état
                de référence après une perturbation. La résilience communautaire est la capacité d’une communauté de continuer à vivre,
                fonctionner, se développer et s’épanouir après un traumatisme ou une catastrophe.
            </p>

        </div>
    </div>

    <div class="second-alf-container">
        <div class="major-theme">
            <a href="/indexArticles" class="theme-box rounded" style="color:black">
                <img src="/images/Article.png" style="width:100%">
            </a>
            <a href="/AudioFolder/PoadcastPage" class="theme-box rounded" style="color:black">
                <img src="/images/Podcast.png" style="width:100%">
            </a>
            <a href="/Tutoriel/Index" class="theme-box rounded" style="color:black">
                <img src="/images/Tuto.png" style="width:100%">
            </a>
        </div>

        <div class="articleContainer">

            <div class="articleBigContainer">
                @{

                    List<Article> lst = ViewData["lstArticles"] as List<Article>;
                    List<Article> lstArticle = new List<Article>();
                    foreach (Article article in lst)
                    {
                        if (article.EstPublier)
                        {
                            lstArticle.Add(article);
                        }
                    }


                    int nbArticle = lstArticle.Count();
                    if (nbArticle > 0)
                    {
                        Article unarticle = lstArticle[nbArticle - 1];

                            <div class="div-article1 shadow-lg rounded">

                                <a href="/Article?id=@unarticle.Id">
                                    <h4 class="articleTitle">@unarticle.Titre</h4>

                                    @if (unarticle.LienImg != null)
                                    {
                                        <img src="https://mediafileobjectifresiliance.s3.ca-central-1.amazonaws.com/@unarticle.LienImg" style="max-width:100%">
                                    }
                                    else
                                    {
                                        <img src="/images/imgplaceholder.png" style="width:100%">
                                    }
                                </a>
                            </div>
                        

                    }

                }
            </div>

            <div class="articleSmallContainer">
                @{
                    if (nbArticle > 1)
                    {
                        for (int i = 0; i < 2; i++)
                        {
                            nbArticle = lstArticle.Count();
                            Article unarticle = lstArticle[nbArticle - i - 2];

                            <div class="div-article shadow-lg rounded">
                                <a href="/Article?id=@unarticle.Id">
                                    <h4 class="articleTitle">@unarticle.Titre</h4>
                                    @if (unarticle.LienImg != "")
                                    {
                                        <img src="https://mediafileobjectifresiliance.s3.ca-central-1.amazonaws.com/@unarticle.LienImg" style="max-width:100%">
                                    }
                                    else
                                    {
                                        <img src="/images/imgplaceholder.png" style="width:100%">
                                    }

                                </a>
                            </div>
                        }
                    }


                }

            </div>
        </div>
    </div>
</div>
