@page
@using Web.Pages
@model Web.Pages.PoadcastFormModel
@using Domain.Entities
@{
    ViewData["Title"] = "Formulaire de création d'un poadcast";
}


<div>
    <form method="post" enctype="multipart/form-data">
        <label for="titre">Titre <em>*</em></label>

        <input name="titre" id="titre" placeholder="titre du formulaire" autofocus="" required=""><br>

        <label for="description">Description</label>

        <textarea name="description" id="description"></textarea><br>

        <label for="categorie">Catégorie <em>*</em></label>
        <select name="categorie" id="categorie">
            <option value="F" name="categorie">Lowtech</option>
            <option value="H" name="categorie">Recyclage</option>
        </select><br><br>

        <input multiple="multiple" asp-for="Input.FormFile" class="form-control" type="file" id="formFile" /><br />

        <input class="btn" type="submit" value="valider" /><br /><br />
    </form>
</div>
