@page
@using Web.Pages
@model Web.Pages.PoadcastPageModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <table>
        <tr>
            <td class="">Id</td>
            <td class="">titre</td>
            <td class="">catégorie</td>
            <td><a asp-page="formation" asp-route-id="" class="btn btn-success btn-sm">Ajouter une formation</a></td>
        </tr>
    </table>
</div>
