@page
@using Web.Pages
@model Web.Pages.PoadcastPageModel
@using Domain.Entities
@{
    ViewData["Title"] = "Home page";
}


<div>
    <div>
        <a asp-page="poadcastForm" class="btn btn-success btn-sm">Ajouter un poadcast</a>
    </div>
    <div><p>Trie par catégrie</p></div>
    <form method="get" enctype="multipart/form-data">
        <div>
            <select id="categorie" asp-for="cat">
                <option value="0">Tout</option>
                <option value="lowtech">Lowtech</option>
                <option value="recyclage">Recyclage</option>
                <option value="autCat">Autre catégorie</option>

            </select><br><br>
            <input type="submit" value="filtrer" /><br /><br />
        </div>
    </form>
    

    <table>

        @foreach (var poadcast in ViewData["lstPoadcasts"] as IList<Poadcast>)
        {
            <tr>
                <td class="">
                    <div><p>titre : @poadcast.titre</p></div>
                    <div><p>Catéogrie : @poadcast.categorie</p></div>
                    <audio controls
                           src="@poadcast.url">
                    </audio>
                </td>
                <td class="">
                    @poadcast.description
                </td>
            </tr>
        }
    </table>
</div>
