@page "{id:Guid?}"
@using Web.Pages
@model Web.Pages.UserModel
@using Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div>
    @if (@ViewContext.RouteData.Values["id"] is not null){
        <h1>Modification d'un utilisateur</h1>
    }
    else{
        <h1>Ajout d'un utilisateur</h1>
    }
    <a class="link" asp-page="adminMenu">Retour Panneau Admin</a>
    <form method="post" id="centerForm">
        <input type="hidden" asp-for="user.Id" />
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="user.UserName">Pseudonyme</label>
                <input asp-for="user.UserName"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="user.Email">Courriel</label>
                <input asp-for="user.Email"/>
            </div>
        </div>
         <div class="form-group row">
            <div class="col-4">
                <label asp-for="user.FirstName">Prénom</label>
                <input asp-for="user.FirstName"/>
            </div>
        </div>
         <div class="form-group row">
            <div class="col-4">
                <label asp-for="user.LastName">Nom de Famille</label>
                <input asp-for="user.LastName"/>
            </div>
        </div>

         <div>
             @if (@ViewContext.RouteData.Values["id"] is not null)
             {

                 <input id="btnAddMod" name="btnSave" type="submit" value="Sauvegarder les changements" class="btn btn-success" />
                 <input id="btnAddMod" name="btnDelete" type="submit" value="Supprimer l'utilisateur" class="btn btn-danger" />
             }
             else
             {
                 <input id="btnAddMod" name="btnAdd" type="submit" value="Ajouter l'utilisateur" class="btn btn-success" />
                 <a id="btnAddMod" name="btnAnnuler" class="btn btn-danger" asp-page="adminMenu">Annuler</a>
             }
             </div>
        
    </form>
</div>
