@page "{id:Guid?}"
@using Web.Pages
@model Web.Pages.UserModel
@using Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Utilisateur";
}
<!-- Entête de la page (Titre + btn retour) -->
<nav class="navbar navbar-light shadow-sm">
    <div class="container-fluid">
        @if (@ViewContext.RouteData.Values["id"] is not null)
        {
            <h1>Modification d'un utilisateur</h1>
        }
        else
        {
            <h1>Ajout d'un utilisateur</h1>
        }
        <div class="d-flex">
            <a class="btn btn-outline-primary" asp-page="adminMenu">Retour</a>
        </div>
    </div>
</nav>
<div class="container">
    <form method="post">
        <input type="hidden" asp-for="user.Id" />
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <br />
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Prénom</span>
                    <input type="text" class="form-control" aria-label="Prénom" aria-describedby="Prénom" asp-for="user.FirstName">
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Nom de famille</span>
                    <input type="text" class="form-control" aria-label="Nom de famille" aria-describedby="Nom de famille" asp-for="user.LastName">
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Courriel</span>
                    <input type="text" class="form-control" aria-label="Courriel" aria-describedby="Courriel" asp-for="user.Email" required>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                @if (@ViewContext.RouteData.Values["id"] is null)
                {
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Mot de passe</span>
                        <input type="password" class="form-control" aria-label="NewPassword" aria-describedby="NewPassword" name="NewPassword" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Confirmation du mot de passe</span>
                        <input type="password" class="form-control" aria-label="ConfPassword" aria-describedby="ConfPassword" name="ConfPassword" required>
                    </div>
                }
                else
                {
                    <br /><h4>Modification du mot de passe</h4>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Nouveau mot de passe</span>
                        <input type="password" class="form-control" aria-label="NewPassword" aria-describedby="NewPassword" name="NewPassword">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Confirmation du mot de passe</span>
                        <input type="password" class="form-control" aria-label="ConfPassword" aria-describedby="ConfPassword" name="ConfPassword">
                    </div>
                }
            </div>
            <div class="col-3"></div>
        </div>
        <br />
        @if (@ViewContext.RouteData.Values["id"] is not null)
        {
            <div class="row" style="justify-content:center">
                <input name="btnSave" type="submit" value="Sauvegarder les changements" class="btn btn-primary form-control" style="width:15em !important; margin:1em;" />
                <input name="btnDelete" type="submit" value="Supprimer l'utilisateur" class="btn btn-danger form-control" style="width:15em !important; margin:1em;" />
            </div>
        }
        else
        {
            <div class="row" style="justify-content:center">
                <input name="btnAdd" type="submit" value="Ajouter l'utilisateur" class="btn btn-primary form-control" style="width:15em !important; margin:1em;" />
                <a name="btnAnnuler" class="btn btn-danger form-control" style="width:15em !important; margin:1em;" asp-page="AdminMenu">Annuler</a>
            </div>
        }
    </form>
</div>
