.footer{
    display:flex;
    flex-direction:column;
    margin-top:3rem;
}

.footer-part1 {
    display: flex;
    background: #ffa733;
}
.footer-part2 {
    display: flex;
    background: #ff7733;
}

