.main-container {
    background-color: green;
    display: flex;
    flex-direction: column
}

.first-alf-container {
    background-color: white;
}

.pageBox {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: #f1f9ee;
    border-style: dashed;
}

.pageDescriptionBox {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: #f1f9ee;
}

.second-alf-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}


.theme-box {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: rgba(158, 204, 114,0.6);
    margin: 0.2rem;
}

a:link {
    text-decoration: none;
    /*color:black;*/
}

.container {
    min-height: 1000px;
}

.rowContainer {
    max-width: 100%;
}

.articleContainer {
    display: flex;
}

.div-article {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.div-article1 {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    //flex-basis:70%;
}

.articleTitle {
    margin: 0px;
    background-color: #f1f9ee; // vert
    /*background-color: #ffd5a8; // Orange*/
    font-size: 2rem;
    color: black;
    z-index: 0;
    top: 2.2rem;
    padding: 1rem;
    font-family: Cabin Sketch;
}

h3, h4 {
    text-align: center;
    text-vertical-align: middle;
}

h3 {
    vertical-align: middle;
}

.div-article h4 {font-size:12px}


@media (max-width: 770px) {
    .major-theme {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-shrink: 0.1;
    }

    .themeH3 {
        position: relative;
        top: 5rem;
        left: 2rem;
    }

    .articleContainer {
        display: flex;
        flex-direction: column
    }

    .articleBigContainer {
        flex-basis: 1;
    }

    .articleSmallContainer {
        //flex-basis: 1;
        display: flex;
    }
    .div-article {
        width:50%;
    }
    .articleTitle {
        word-wrap: break-word;
    }
}


@media (min-width: 770px) {
    .themeH3 {
        position: relative;
        top: 5rem;
        left: 2rem;
    }

    .major-theme {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
        flex-wrap: wrap;
    }

    .articleBigContainer {
        flex-basis: 70%;
        margin-right: 1rem;
        background-color: #f1f9ee;
    }

    .articleSmallContainer {
        //flex-basis: 10%;
        display: flex;
        flex-direction: column;
        //height: 100%;
        max-width: 32%;
        /*min-width: auto;
        min-height: auto;*/
    }

    .div-article {
        flex-wrap:wrap;
    }

    .articleTitle {
        word-wrap: break-word;
    }
}
