.searchBar-container {
    display: flex;
}

.sizeImage {
    width: 100%;
    height: 250px;
}

.sizeImage2 {
    width: 500px;
    height: 450px;
}

.paddingLeft {
    padding-left: 5%;
}

.paddingLeft2 {
    padding-left: 5%;
}

.sizeDescription {
    width: 80%;
}

audio {
    width: 80%;
}

.borderPoadcast {
    border-top: 3px groove black;
}

.cardPodcast {
    height: 100%;
}
