.searchBar-container {
    display: flex;   
}
.sizeImage {
    width: 100%;
    height: 250px;
}
.sizeImage2 {
    width: 500px;
    height: 500px;
}

.paddingLeft{
    padding-left: 30px;
}
.paddingLeft2 {
    padding-left: 80px;
}
.sizeDescription {
    width: 1050px;
}
audio{
    width :800px; 
}
.borderPoadcast{
    border-top:3px groove black;
}
