@model Gwenael.Tests.Helpers.Mailing.FakeEmailModelBaseTemplate 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales augue sed pretium varius.
    </title>
</head>
<body>
<div>
    <p>
        Vestibulum elementum lacus elit, sed scelerisque lorem sodales id. Nunc finibus et nunc nec hendrerit.
        Donec vel tortor sem. Nam arcu ex, molestie eu scelerisque in, volutpat ut dolor. Nunc egestas ut mi in gravida.
        Vivamus at elit facilisis, commodo dui et, tincidunt nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Duis ante nisl, mattis ac magna quis, placerat varius mi.
    </p>
</div>
</body>
</html>