@page
@using Web.Pages
@using Microsoft.AspNetCore.Components.Forms
@using IdentityServer4.Extensions
@model Web.Pages.TutorielIndexModel
@{
    ViewData["Title"] = "Home tutoriel";
}

<div class="container-fluid">
    <h1>Home tutoriel</h1>
    <hr />
    <form asp-controller="Tutoriel" asp-action="GoToCreationTuto" method="post">
        <button type="submit" class="btn btn-primary">Créé un tutoriel</button>
    </form>
</div>

