@page
@using Web.Pages
@using Microsoft.AspNetCore.Components.Forms
@using IdentityServer4.Extensions
@model Web.Pages.TutorielIndexModel
@{
    ViewData["Title"] = "Accueil tutoriel";
}

<!-- Entête de la page (Titre + barre de recherche) -->
<nav class="navbar navbar-light shadow-sm">
    <div class="container-fluid">
        <h1>Les tutoriels</h1>
        @if(Model.Input.droitAccess == true)
        {
            <form class="d-flex" method="post" asp-page="Index" style="display:flex; justify-content: center;">
                <button type="submit" class="btn btn-outline-primary" asp-page-handler="RedirectCreationTuto">Gestion des tutoriels</button>
            </form>
        }
    </div>
</nav>

<div class="container-fluid">
    <br />
    <div class="row">
        <!-- Contenue du menu (Ou les filtres de recherche ce trouve) -->
        <div class="col-3" style="padding-right:1.5rem;padding-left:1.5rem;">
            <h4>Filtrer par :</h4>
            <hr />

            <!-- Btn Radio pour le mode de filtre. -->
            <div>
                <form method="post" asp-page="Index" enctype="multipart/form-data" id="formFiltre">
                    <div class="input-group input-group-sm mb-3">
                        <label for="categorieDataList" style="width: 100%;">Sélectionner une catégorie</label>
                        <input class="form-control shadow-sm" list="categorieDatalistOptions" id="categorieDataList" placeholder="Écrire pour Sélectionner une catégorie..." name="cat" autocomplete="off">
                        <datalist id="categorieDatalistOptions" autocomplete="off">
                            <option id="filtreCategorieTous" value="Toutes" selected />
                            @if (!(@Model.Input.lstCategories.IsNullOrEmpty()))
                            {
                                @foreach (var cat in @Model.Input.lstCategories)
                                {
                                    <option id="@cat.Id" value="@cat.Nom" />
                                }
                            }
                        </datalist>
                    </div>

                    @if(Model.Input.droitAccess == false){
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="radioFiltreEstPublie" name="radioFiltreEstPublie" value="true" checked hidden>
                            <label class="form-check-label" for="radioFiltreEstPublie" style="margin:0;" hidden>Est pubié</label>
                        </div>
                    } else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="radioFiltreEstPublie" name="radioFiltreEstPublie" value="true" checked>
                            <label class="form-check-label" for="radioFiltreEstPublie" style="margin:0;">Est pubié</label>
                        </div>
                    }
                    <br />
                    <input class="form-control me-2" type="search" placeholder="Recherche" id="rechercheValeur" name="rechercheValeur">
                    <br />
                    <div style="display: flex;justify-content:center;">
                        <button data-filtreRecherche class="btn btn-outline-primary" type="submit">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Contenue de la page (ou les articles ce trouve) -->
        <div class="col-9">
            <div class="pageDescriptionBox">
                <h3>Un titre??????</h3>
                <p class="divIntro">
                    Quisque interdum dapibus ipsum, vel lacinia nulla eleifend non. Sed tortor tortor, placerat ut tincidunt et, euismod non sem.
                    Phasellus vel est iaculis, dictum lorem nec, hendrerit eros. Donec ultrices ex eget nisi eleifend, sed eleifend ex commodo.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed eros sed mi mollis ullamcorper non et sapien.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce hendrerit, augue sit amet fringilla ullamcorper, lorem leo auctor enim,
                    non pharetra tortor mi id nunc. Duis vel volutpat velit, sit amet luctus ante. In sit amet lorem quis ligula consectetur gravida. Integer in nulla tortor.
                </p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4" id="zoneCardTuto">

            </div>

            <br />
            <br />
            <!-- Navigation de pagination -->
            <div>
                <ul class="pagination justify-content-center" id="navPagination">
                    <li class="page-item"><button class="page-link" style="background-color:#38b000;" data-paginationBtn id="btn-pagination-before">&laquo</button></li>

                    <li class="page-item"><button class="page-link" style="background-color:#38b000;" data-paginationBtn id="btn-pagination-after">&raquo</button></li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div id="toastTutoDeleteDiv" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" hidden>
    <div id="toastTutoDelete" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-animation="true" data-bs-delay="5000">
        <div class="toast-header">
            <img style="max-width:1.5rem;max-height:1.5rem;" src="/icons/valide.svg" class="rounded me-2" alt="...">
            <strong class="me-auto">Confirmation suppression</strong>
            <small>Nouveau!</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Le tutoriel a bien été supprimée!
        </div>
    </div>
</div>

<div id="toastTutoUnPublishDiv" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" hidden>
    <div id="toastTutoUnPublish" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-animation="true" data-bs-delay="5000">
        <div class="toast-header">
            <img style="max-width:1.5rem;max-height:1.5rem;" src="/icons/valide.svg" class="rounded me-2" alt="...">
            <strong class="me-auto">Confirmation de changement de visibilité</strong>
            <small>Nouveau!</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Le status de visibilité du tutoriel a bien été mis a jours!
        </div>
    </div>
</div>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->

<script src="~/javascript/Tutoriel/recherche/script-recherche-utils.js" asp-append-version="true"></script>
<script src="~/javascript/Tutoriel/recherche/script-recherche-init.js" asp-append-version="true"></script>
<script src="~/javascript/Tutoriel/tutorielToastSupprimer.js" asp-append-version="true"></script>
<script src="~/javascript/Tutoriel/tutorielToastUnPublish.js" asp-append-version="true"></script>

<script src="~/javascript/utils/ToastNotification.js" asp-append-version="true"></script>
